body {
  background: #eee;
}
.wrapper {
  background: #fff;
  max-width: 960px;
  margin: 0auto;
  padding: 20px;
  position: relative;
}

.wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.content:after {
  content: "hello";
}

.service h2,
.service p {
  color: #999;
  margin: 10px 0;
  text-align: center;
}

.service {
  float: left;
  background: #eee;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  height: 140px;
}
.service:nth-child(1) {
  top: 5px;
}
.service:nth-child(2) {
  top: 15px;
}
.service:nth-child(3) {
  top: 25px;
}

.content {
  padding: 10px;
  clear: left;
  margin: 20px 1%;
  position: relative;
  left: 50px;
  bottom: -50px;
}

.content p {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
  text-align: justify;
}

section,
aside {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  background: #f2f2f2;
}
.columns:after {
  display: block;
  content: "";
  clear: both;
}

#banner {
  max-height: 300px;
  overflow: hidden;
  margin: 1%;
  position: relative;
}
#banner {
  max-height: 300px;
  position: absolute;
  top: 30;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #fff;
}

nav {
  background: #333;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul:after {
  content: "";
  display: block;
  clear: both;
}

nav li {
  list-style-type: none;
  margin: 0 10px;
  color: #fff;
  float: right;
}
